* {
  margin: 0px auto;
  padding: 0px;
}

.container {
  height: 800px;
  width: 1000px;
  border: 1px solid;
  background-color: rgb(153, 166, 168);
}

.menu li {
  height: 50px;
  width: 150px;
  background-color: rgb(164, 232, 238);
  line-height: 50px;
  list-style: none;
  float: left;
  text-align: center;
  position: relative;
  border: 1px solid;
}

.menu li:hover {
  background-color: rgb(255, 255, 255);
}

li a {
  text-decoration: none;
  color: rgb(6, 1, 5);
}

li:hover > a {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.menu li .sub_menu {
  position: absolute;
  display: none;
}

.menu li:hover > .sub_menu {
  display: block;
}

.menu li .sub_menu li .sub_menu {
  display: none;
}
.menu li .sub_menu li:hover > .sub_menu {
  display: block;
  top: 0px;
  left: 150px;
}
